<h2 class="mb-0 d-flex">
  <button type="button" class="btn btn-sm py-0" (click)="onBack()">
    <span class="bi-box-arrow-left fs-2"></span>
  </button>

  <span class="align-middle flex-grow-1 py-1">{{ agent()?.name }}</span>

  <button type="button" class="btn btn-sm text-danger py-0">
    <span class="bi-pencil-square fs-2"></span>
  </button>
</h2>
<hr class="mt-1 mb-2" />

<div
  class="px-0 d-flex flex-column flex-sm-row flex-xl-row flex-lg-row flex-md-row"
>
  <div class="padding"></div>
  <div class="content">
    <div class="card m-1 p-0 bg-primary-subtle app-card-min-width">
      <div class="card-body p-0">
        <form class="container-fluid">
          <div class="row mb-0 d-flex">
            <label
              class="flex-fill col-auto text-center col-form-label py-1 fs-2"
            >
              Blueprint:
            </label>
            <label
              class="flex-fill col-auto text-center col-form-label py-1 fs-2"
            >
              {{ blueprint()?.displayName }}
            </label>
          </div>
        </form>
      </div>
    </div>
    <!-- </div> -->

    <h5 class="mb-1 px-1 text-primary">Params</h5>

    @for (param of params(); track param().id) {
    <!-- <div
  class="px-0 d-flex flex-column flex-sm-row flex-xl-row flex-lg-row flex-md-row"
  id="paramList"
> -->
    <div class="card m-1 p-0 bg-info-subtle app-card-min-width">
      <div class="card-body p-0">
        <h5
          class="mb-1 ms-2 ps-1 pe-0 text-primary d-flex justify-content-between py-1"
        >
          <span class="pl-1 align-middle">{{ param().name }}</span>
          <!-- <button type="button" class="btn btn-sm text-primary py-0 pr-1">
            <span class="bi-arrow-right-square fs-6"></span>
          </button> -->
        </h5>

        <form class="container-fluid">
          <!---
              <div class="row mb-0">
                  <label class="col-4 col-form-label py-1">Name</label>
                  <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext py-1" value="paramLED">
                  </div>
              </div>
              --->
          <div class="row mb-0">
            <label class="col-4 col-form-label py-1">Type</label>
            <div class="col-8">
              <input
                type="text"
                readonly
                class="form-control-plaintext py-1"
                [value]="getDataTypeName(param())"
              />
            </div>
          </div>

          <div class="row mb-0">
            <label class="col-4 col-form-label py-1">Value</label>
            <div class="col-8">
              <input
                type="text"
                readonly
                class="form-control-plaintext py-1"
                [value]="param().value"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- </div> -->
    } @empty {
    <div class="empty">No params</div>
    }

    <h5 class="mb-1 px-1 text-primary">Pins</h5>

    @for (pin of pins(); track pin().id) {
    <!-- <div
  class="px-0 d-flex flex-column flex-sm-row flex-xl-row flex-lg-row flex-md-row"
  id="pinList"
> -->
    <div class="card m-1 p-0 bg-warning-subtle app-card-min-width">
      <div class="card-body p-0">
        <h5
          class="mb-1 ms-2 ps-1 pe-0 text-primary d-flex justify-content-between py-1"
        >
          <span class="pl-1 align-middle">{{ pin().name }}</span>
          <!-- <button type="button" class="btn btn-sm text-primary py-0 pr-1">
            <span class="bi-arrow-right-square fs-6"></span>
          </button> -->
        </h5>

        <form class="container-fluid">
          <div class="row mb-0">
            <label class="col-4 col-form-label py-1">Source</label>
            <div class="col-4">
              <input
                type="text"
                readonly
                class="form-control-plaintext py-1"
                [class.disconnected]="!isPinConnected(pin())"
                [value]="getPinConnection(pin())"
              />
            </div>
            @if(isPinConnected(pin())) {
            <div
              class="col-4 d-flex justify-content-between align-content-center flex-wrap px-2"
            >
              <button
                id="agent_blueprints"
                type="button"
                class="btn btn-sm btn-danger w-100 px-0"
                data-bs-toggle="modal"
                data-bs-target="#unlinkAgent"
              >
                <span class="bi-dash-square-dotted"></span><span> Unlink</span>
              </button>
            </div>
            }
          </div>

          <div class="row mb-0">
            <label class="col-4 col-form-label py-1">Type</label>
            <div class="col-8">
              <input
                type="text"
                readonly
                class="form-control-plaintext py-1"
                [value]="getPinTypeName(pin())"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- </div> -->
    }@empty {
    <div class="empty">No pins</div>
    }

    <!-- <div
  class="px-0 d-flex flex-column flex-sm-row flex-xl-row flex-lg-row flex-md-row"
> -->
    <!-- <div class="card m-1 border-0 app-card-min-width">
      <div class="card-body p-0">
        <button
          id="agent_blueprints"
          type="button"
          class="btn btn-danger w-100"
          data-bs-toggle="modal"
          data-bs-target="#unlinkAgent"
        >
          <span class="bi-dash-square-dotted"></span><span> Unlink</span>
        </button>
      </div>
    </div> -->
    <!-- </div> -->
  </div>
  <div class="padding"></div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="unlinkAgent"
  data-bs-backdrop="false"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="unlinkAgentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unlinkAgentLabel">Unlink Agent?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>
