.empty {
  text-align: center;
  font-style: italic;
  color: gray;
}

.disconnected {
  font-style: italic;
  color: gray;
}

.content {
  gap: 0.5rem;
}

.pin.card {
  cursor: pointer;

  * {
    pointer-events: none;
  }

  transition: filter 150ms;

  &:hover {
    filter: brightness(var(--hover-brightness));
    // filter: contrast(87%);
  }
}
