<h2 class="mb-0">
  <span class="align-middle flex-grow-1 py-1">Settings</span>
</h2>
<hr class="mt-1 mb-2" />

<div
  class="px-0 d-flex flex-column flex-sm-column flex-xl-row flex-lg-row flex-md-row"
>
  <div class="card m-1 p-0 bg-dark-subtle app-card-min-width">
    <div class="card-body px-0 py-1">
      <h5
        class="mb-1 ms-2 ps-1 pe-0 text-primary d-flex justify-content-between"
      >
        <span class="pl-1 align-middle">WiFi</span>
      </h5>

      <form class="container-fluid">
        <div class="mb-1 row">
          <label for="settings_ssid" class="col-4 col-form-label py-1">
            SSID
          </label>
          <div class="col-8">
            <input
              type="text"
              class="form-control py-1"
              id="settings_ssid"
              name="ssid"
            />
          </div>
        </div>

        <div class="mb-1 row">
          <label for="settings_password" class="col-4 col-form-label py-1">
            Pass
          </label>
          <div class="col-8">
            <div class="input-group">
              <input
                type="password"
                class="form-control py-1"
                id="settings_password"
                name="password"
                aria-label="Password"
              />
              <span
                class="input-group-text bi-eye"
                id="settings_toggle_password"
                style="cursor: pointer"
              ></span>
            </div>
            <script language="JavaScript">
              (function () {
                //nu bagam tag script in input-group pt ca strica formatarea span-ului
                const toggle_password = document.querySelector(
                  "#settings_toggle_password"
                );
                const password = document.querySelector("#settings_password");

                toggle_password.addEventListener("click", function () {
                  // toggle the type attribute
                  const type =
                    password.getAttribute("type") === "password"
                      ? "text"
                      : "password";
                  password.setAttribute("type", type);
                  // toggle the eye icon
                  this.classList.toggle("bi-eye");
                  this.classList.toggle("bi-eye-slash");
                });
              })();
            </script>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button id="updateWifi" type="button" class="btn btn-primary">
              Update
            </button>
            <script language="JavaScript">
              (function () {
                //nu bagam tag script in input-group pt ca strica formatarea span-ului
                const updateWifi = document.querySelector("#updateWifi");

                updateWifi.addEventListener("click", function () {
                  // submit WiFi settings
                  const form = this.closest("form");
                  var formData = new FormData(form);

                  //ca sa impiedicam cache
                  formData.append("_random", new Date().getTime());

                  console.log("settings form", formData);
                });
              })();
            </script>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-theme-selector class="card m-1 p-0 bg-dark-subtle app-card-min-width" />
</div>
