<h2 class="mb-0 d-flex">
  <!-- <button type="button" class="btn btn-sm py-0">
    <span class="bi-box-arrow-left fs-2"></span>
  </button> -->
  <span class="align-middle flex-grow-1 py-1">Blueprints</span>

  <button
    type="button"
    class="btn btn-sm text-success py-0"
    (click)="openModal(modal)"
  >
    <span class="bi-window-plus fs-2"></span>
  </button>
</h2>
<hr class="mt-1 mb-2" />

<div
  class="px-0 d-flex flex-column flex-sm-row flex-xl-row flex-lg-row flex-md-row"
>
  <div class="padding"></div>
  <div class="content">
    <div class="card m-1 border-0 app-card-min-width">
      <div class="card-body p-0">
        <div class="input-group input-group-xs">
          <input
            #search_bar
            type="text"
            class="form-control search-bar"
            aria-label="Search"
            (input)="onFilterChanged(search_bar.value)"
          />
          <button type="button" class="btn btn-outline-secondary">
            <span class="bi-search"></span>
          </button>
        </div>
      </div>
    </div>

    @for(blueprint of filteredBlueprints(); track blueprint().id) {
    <div
      class="card m-1 p-0 app-card-min-width"
      [ngClass]="blueprint().isValid ? 'bg-info-subtle' : 'bg-danger-subtle'"
    >
      <div class="card-body p-0">
        <form class="container-fluid">
          <div class="d-flex">
            <div class="flex-fill">
              <label class="text-center col-form-label py-1 fs-2">
                Blueprint:
              </label>
            </div>
            <div class="flex-fill">
              <!---<input type="text" readonly class="form-control-plaintext text-center py-1 fs-2" value="LED">--->
              <label class="text-center col-form-label py-1 fs-2">
                {{ blueprint().displayName }}
              </label>
            </div>

            <div class="">
              @if(blueprint().isHardware) {
              <div style="width: 3.15rem; height: 3.15rem"></div>
              } @else {
              <button
                type="button"
                class="btn btn-sm text-danger"
                (click)="delete(blueprint().id)"
              >
                <span class="bi-window-x fs-2"></span>
              </button>
              }
            </div>
          </div>
        </form>
      </div>
    </div>
    }
  </div>
  <div class="padding"></div>
</div>

<!-- Modal -->
<div
  #modal
  class="modal fade"
  id="add-blueprint"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="add-blueprint-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-blueprint-label">Add virtual</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="container-fluid"
          [formGroup]="scriptForm"
          #form
          enctype="multipart/form-data"
        >
          <div class="row mb-1">
            <label class="col-2 col-md-4 col-form-label py-1 text-nowrap">
              Name
            </label>
            <div class="col-10 col-md-8">
              <input
                type="text"
                class="form-control py-1"
                name="name"
                placeholder="Name"
                formControlName="name"
              />
            </div>
          </div>

          <div class="row mb-1">
            <label class="col-2 col-md-4 col-form-label py-1 text-nowrap">
              Script
            </label>
            <div class="col-10 col-md-8">
              <input
                #fileInput
                type="file"
                accept=".js"
                class="form-control py-1"
                name="script"
                (change)="onFileSelect(fileInput.files)"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="onSubmit(form, modal)"
          [disabled]="!canSubmit()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
