.my-range {
  width: 100%;
  height: 1.5rem;
  accent-color: var(--bs-primary);
}

.empty {
  text-align: center;
  font-style: italic;
  color: gray;
}

mat-form-field > ::ng-deep *:nth-child(2) {
  display: none;
}

.unset {
  font-size: 1rem;
}
