.add-agent {
  min-height: 8.25rem;
}

#agents_blueprints {
  span {
    font-size: 1.75em;
  }
}

.search-bar {
  font-size: 1.5rem;
}

.content > h5 {
  text-align: center;
  margin-top: 55%;
  margin-bottom: auto;
  font-style: italic;
}
