.add-agent {
  min-height: 8.25rem;
}

#agents_blueprints {
  span {
    font-size: 1.75em;
  }
}

.search-bar {
  font-size: 1.5rem;
}

.agent.card {
  cursor: pointer;

  * {
    pointer-events: none;
  }

  transition: filter 150ms;

  &:hover {
    filter: brightness(var(--hover-brightness));
    // filter: contrast(87%);
  }
}

.software {
  font-style: italic;
  color: gray;
}
