<div class="card-body px-0 py-1">
  <h5 class="mb-1 ms-2 ps-1 pe-0 text-primary d-flex justify-content-between">
    <span class="pl-1 align-middle">Theme</span>
  </h5>

  <form class="container-fluid d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Theme selector">
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        value="system"
        [formControl]="themeCtrl"
      />
      <label class="btn btn-outline-secondary" for="btnradio1">System</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
        value="light"
        [formControl]="themeCtrl"
      />
      <label class="btn btn-outline-secondary" for="btnradio2">Light</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio3"
        autocomplete="off"
        value="dark"
        [formControl]="themeCtrl"
      />
      <label class="btn btn-outline-secondary" for="btnradio3">Dark</label>
    </div>
  </form>
</div>
