/* You can add global styles to this file, and also import other style files */
.app-card-min-width.card {
  min-width: 19rem;
}

.app-alert-min-width.alert {
  min-width: 12rem;
}

.padding {
  flex: 1 1 auto;
}

.content {
  max-width: 40rem;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

html {
  --hover-brightness: 80%;
}

html[data-bs-theme="dark"] {
  --hover-brightness: 145%;
}
